name: student_timetable_app
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2  # Giả sử phiên bản này ok, nhưng nếu lỗi tiếp, thử hạ xuống ^3.0.0 để khớp Dart ổn định hơn

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.0.0
  dio: ^5.0.0
  shared_preferences: ^2.0.0
  intl: ^0.18.0
  go_router: ^14.2.8
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/